<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Library</h1>
        <h3><a href="/authors">List of Authors</a></h3>
        <h3><a href="/books">List of Books</a></h3>
        <h3><a href="/patrons">List of Patrons</a></h3>
    </body>
</html>
